.marketplace-item {
    float: left;
    height: 340px;
    position: relative;
}

.control-item {
    position: absolute;
    bottom: 10px;
    width: 80%;
}

img {
    height: 167px;
    width: 238px;
    object-fit: cover;
}

.plus-button {
    padding: 10px;
}

.read-button {
    width: 75%;
    padding: 10px;
}

.cart-logo {
    width: 20%;
    padding: 10px;
}

.fa-pencil-alt {
    color: white;
}