html,
body,
.container,
.card {
    max-height: 95%;
}

#chatbox {
    max-height: 70vh;
    overflow: auto;
}

button#chatbox-send {
    border: 0;
    padding: 0;
}

img.image_item_share {
    width: 110px;
    height: 80px;
    object-fit: cover;
}